@import "uni.scss";

page {
    height: 100%;
    color: #333;
    font-size: 28rpx;
    font-weight: 400;
    -webkit-overflow-scrolling: touch;
    background: #242328;
}

.flex {
    display: flex;
}

.flex-direction {
    @extend .flex;
    flex-direction: column;
}

.fg1 {
    flex: 1;
}

.j-flex-end {
    justify-content: flex-end;
}

.c-flex-end {
    align-items: flex-end;
}

.j-self-end {
    justify-self: flex-end;
}

.c-self-end {
    align-self: flex-end;
}

.fs0 {
    flex-shrink: 0;
}

.c-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}

.d-space {
    justify-content: space-around;
}

.flex-between {
    @extend .flex;
    justify-content: space-between;
}

.flex-c-center {
    @extend .flex;
    @extend .c-center;
}

.flex-j-center {
    @extend .flex;
    @extend .j-center;
}

.flex-center {
    @extend .flex;
    @extend .c-center;
    @extend .j-center;
}

.flex-c-space {
    @extend .flex;
    @extend .c-center;
    @extend .d-space;
}

.flex-c-between {
    @extend .flex;
    @extend .c-center;
    justify-content: space-between;
}

.base-size-color {
    font-size: $font-size-base;
    color: $font-color-base
}

.alignR {
    text-align: right;
}

.alignL {
    text-align: left;
}

.center {
    text-align: center;
}

.f0 {
    font-size: 0;
}

.ib {
    display: inline-block;
}

.alignR {
    text-align: right;
}

.alignL {
    text-align: left;
}

.text-hidden {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.two-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.one-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.right-arrow {
    display: inline-block;
    width: 14rpx;
    height: 14rpx;
    border-top: 1px solid;
    border-right: 1px solid;
    color: #999;
    transform: rotate(45deg);
    margin-right: 4rpx;
    transition: transform .3s;
}

.bottom-arrow {
    transform: rotate(135deg);
}

.top-arrow {
    transform: rotate(315deg);
}

.h30 {
    height: 30rpx;
}

/* 清楚按钮默认样式 */
.clearButton {
    padding: 0;
    margin: 0;
    line-height: inherit;
    background-color: transparent;
    color: transparent;
    border-radius: 0;
}

.clearButton:after {
    border: none;
}

.navigator-hover {
    background-color: transparent;
    opacity: 1;
}

// input {
//     min-height: 1rem;
//     height: 1rem;
//     line-height: 1rem;
// }

.ios-textarea {
    margin-left: -10rpx;
}

/* loading 占位 */
.loading-placeholder {
    width: 20rpx;
    height: 20rpx;
}

/* radio */
.ic-radio {
    width: 32rpx;
    height: 32rpx;
    box-sizing: border-box;
    border-radius: $border-radius-circle;
    border: 1px solid #E6E7EB;
    position: relative;
    background-color: #F7F8FA;
    margin-right: 20rpx;
    transition: all .3s ease-in-out;

    &:after {
        content: '';
        position: absolute;
        width: 8rpx;
        height: 8rpx;
        border-radius: $border-radius-circle;
        left: 50%;
        top: 50%;
        background-color: #CCCCCC;
        margin-top: -4rpx;
        margin-left: -4rpx;
        transition: all .3s ease-in-out;
    }

    &.active {
        background-color: $theme-color !important;
        border-color: $theme-color !important;

        &:after {
            background-color: #fff !important;
        }
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
    opacity: 0;
}

.card-shadow {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.redcolor {
    color: #FF2D2D
}

.submit-btn{
    width:94%;
    margin:0 auto;
    background: $theme-color;
    color:#fff;
    height: 88rpx;
    line-height: 88rpx;
    text-align: center;
    border-radius: 44rpx;
    position: relative;
    font-size:$font-size-base;
}
.submit-btn::after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    left: 0;
    top: 0;
    border-radius: 44rpx;
}
.submit-blue-hover {
    background: #4a67d6 !important;
    color: #e5e5e5 !important;
}
.theme-color{
    color:$theme-color;
}
 .code-fixed{
                width: 80rpx;
                height: 100rpx;
                padding: 10rpx;
                color: $theme-color;
                background: #fff;
                position: fixed;
                right: 30rpx;
                bottom: 100rpx;
                z-index: 99;
                border-radius: 6rpx;
}
.view-bg{
	background: #fff;
}

.tab-padding-bottom{
	padding-bottom:40rpx;
}
/*头部样式*/
	.nav-top {
		position: relative;
		display: flex;
		align-items: center;
		background: #FF6F00;
		font-size: 26rpx;

		.left {
			float: left;
			position: absolute;
			width: max-content;
			height: max-content;
			top: 0;
			bottom: 0;
			left: 20rpx;
			margin: auto;

			.iconfont {
				font-size:48rpx;
				color:#fff;
			}
		}
		.nav-top-text {
			padding-left: 50rpx;
			width: 70%;
		}
	}