.product {
		width: 92%;
		margin: 0 auto;
		padding: 20rpx 0;
		border-bottom: 2rpx solid #EFEFEF;

		.product-price {
			color: #F44040
		}
		.product-img {
			width: 160rpx;
			height: 160rpx;
			background: #000;
		}
		.product-look {
			color: #999;
			font-size: 24rpx;
		}
		.product-right{
			width: 65%;
			margin-left:20rpx;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		.product-name{
			color:#333;
			font-size:28rpx;
			font-weight: bold;
		}
		.product-alllable{
			margin:10rpx 0;
		}
		.product-label{
			display: inline-block;
			border: 2rpx solid #2660A9;
			color:#2660A9;
			font-size:20rpx;
			padding:2rpx 8rpx 4rpx 8rpx;
			margin-right:10rpx;
			border-radius: 6rpx;
		}
	}

.class-page-contain{
    .flex-class-page{
        display: flex;
        position: relative;
        .nav-left {
            flex: 1;
            bottom: 0;
            top: 0;
            left: 0;
            width: 190rpx;
            .active-store{
                color: #2660A9;
                background: #fff;
                &:after{
                    content: '';
                    position: absolute;
                    width: 4rpx;
                    height: 28rpx;
                    left: 0;
                    top: 36rpx;
                    background: #2660A9;
                }
            }
        }

        .nav-left-item {
            position: relative;
            height: 100rpx;
            font-size: 28rpx;
            color: #666666;
            background: #F7F8F9;
            display: flex;
            align-items: center;
            padding-left:20rpx;
        }

        .active {
            color: #2660A9;
            background: #fff;
        }

        .noborder {
            padding-left: 20rpx;
        }

        .nav-right {
            width: calc(100% - 190rpx);
            top: 0;
            bottom: 0;
            background: #fff;
            .nodata{
                line-height: 100rpx;
                padding-left: 30rpx;
                color: #999999;
            }
        }
        .hasborder{
            border-left:6rpx solid $theme-color
        }
    }

    .no-all-data{
        text-align: center;
        padding-top: 100rpx;
        image{
            width: 490rpx;
            height: 360rpx;
        }
        p{
            text-align: center;
            padding-top: 10rpx;
        }
    }
}

