/**我的好友*/
.friend-list{
		padding:20rpx 30rpx;
		border-bottom:2rpx solid #F2F4F7;
		.friend-name{
			margin-right:40rpx;
		}

		.friend-list-item{
			padding-top:26rpx;
		}
		.equal-width{
			width: 25%;
			font-size:$font-size-lg;
			color:#999999;
		}
		.friend-heard{
		   width:120rpx;
		   height: 120rpx;
		   border-radius: 50%;
		   background: $theme-color;
		}

	}
	.has-friend-num{
		font-size:48rpx;
		color:$font-color-base;
	}
	.friend-panel{
		background: #fff;
		border-top-left-radius: 20rpx;
		border-top-right-radius: 20rpx;
		margin-top:-30rpx;
	}
	.my-heard{
		width: 120rpx;
		height: 120rpx;
		border-radius: 50%;
		background: #fff;
	}
	.my-heard-box{
	    position: relative;

	}
	.friend{
		background: $theme-color;
		color:#fff;
		font-size:$font-size-base;
		padding:50rpx 0 60rpx 0;
		.friend-num{
			font-size:48rpx;
			margin-bottom:10rpx;
			color:#fff;
		}
	}
	.padding-base-left{
		padding:40rpx 30rpx 60rpx 30rpx;
	}
	.friend-infor{
		font-size:$font-size-base;
		color:#999;
	}
	.agent{
		width: 100rpx;
		height: 32rpx;
		background: #FF5656;
		color:#fff;
		font-size:$font-size-xsm;
		border-radius: 16rpx;
		position: absolute;
		left:10rpx;
		bottom:-2rpx;
		line-height: 32rpx;
		text-align: center;
	}
	.member-left{
		margin-left:20rpx;
		font-size:$font-size-sm;
		color:#fff;
	}
	.member-name{
		font-size:$font-size-lg;
		margin-bottom:30rpx;
	}
	.list{
		background: #fff;
		margin-top:-30rpx;
		padding:0 30rpx;
		.list-item{
			padding:30rpx 0;
			border-bottom:2rpx solid #F2F4F7;
			color:$font-color-base;
		}
		.list-item-left{
			font-size:$font-size-lg;

			}
			.list-item-left text{
				margin-left:10rpx;
			}
			.list-item-right{
				font-size:$font-size-base;
			}
			.big-size{
				font-size:44rpx;
			}
	}
	.fontsize-sm{
		font-size:$font-size-sm;
	}
	.gray-color{
		color:#999
	}
	.red-color{
		color:#FF5656
	}
	.base-magrin{
		margin-top:10rpx;
	}
	/**资金明细*/
	.fund-list{
		background: #fff;
		margin-top:15rpx;
		.fund-list-item{
			padding:30rpx 0;
			margin:0 30rpx;
			border-bottom:2rpx solid #F4F4F4;
		}
		.fund-list-left{
			color:$font-color-base;
			font-size:$font-size-base;
		}
		.fund-list-img{
			width:84rpx;
			height:84rpx;
		}
		.fund-list-time{
			color:#858585;
			font-size:$font-size-sm;
			margin-top:15rpx;
		}
		.fund-margin-left{
			margin-left:40rpx;
		}
		.color1{
			color:#5C7A9D
		}
		.color2{
			color:#D17E36
		}
	}
	.fund{
		padding:40rpx 0;
		color:#fff;
		font-size:$font-size-lg;
		.fund-left{
			width:50%;
		}
		.fund-num{
			font-size:44rpx;
			margin-bottom:6rpx;
		}
		.hasborder{
			border-right:2rpx solid rgba(256,256,256,0.7);
		}
	}
	.fund-bg{
		background:linear-gradient(135deg,rgba(84,180,255,1) 0%,rgba(134,92,252,1) 100%);
	}
	.achievement-bg{
		background: $theme-color;
	}
	/**提现*/
	.cash-tip{
		color:#999999;
		font-size:$font-size-sm;
		padding:0 30rpx;
		margin:30rpx 0 50rpx 0;
	}
	.cash{
		position: relative;
		color:#fff;
		font-size:$font-size-sm;
		height: 372rpx;
		.cash-bg{
			background: $theme-color;
			height: 320rpx;
		}
		.cash-num{
			font-size:44rpx;
			padding-top:50rpx;
			margin-bottom:15rpx;
		}
		.cash-panel{
			position: absolute;
			width:100%;
			left:0;
			bottom:0;
		}
		.cash-input-text{
			color:$font-color-base;
		}
		.cash-panel-content{
			width:94%;
			background: #fff;
			border-radius: $border-radius-lg;
			margin:0 auto;
		}
		.cash-input{
			padding:25rpx 0;
			margin: 0 30rpx;
			position: relative;
            .cash-input-text{

            }
		}
		.add-border{
			border-bottom:2rpx solid #F2F4F7;

		}
	}
.login-text{
	padding:30rpx;
	text-align: right;
	color:#999;
	font-size:$font-size-base
}
